<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>The feedEater</title>
  <link rel="stylesheet" href="/css/foundation.css" />    
  <!-- Jquery UI stuff -->    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>    
    <script src="/js/handlebars.js"></script>   
</head>
<body>
    <%= include feed.ejs %>
    
      <div class="row">
          <div class="large-6 columns">
              <h2>New feed</h2>         
              <hr />
          </div>
      </div>    
    
    <div class="row">              
        <div class="large-12 columns">                                                   
            <form>            
              <div class="row">
                <div class="large-4 columns">
                  <label>name 
                    <input id="name" type="text" placeholder="title of the blog" />
                  </label>
                </div>
                <div class="large-4 columns">
                  <label>blog url
                    <input id="blog_url" type="text" placeholder="url of blog homepage" />
                  </label>
                </div>
                <div class="large-4 columns">
                  <label>feed url (optional)
                    <input id="feed_url" type="text" placeholder="rss feed url" />
                  </label>
                </div>    
                <div id="cats"></div>
            <button class="small" id="savebtn">Save</button>  
            <span class="label" id="postLoading">Loading...</span>
            <span class="label alert" id="postError">Error saving rule</span>
            <span class="label success" id="postSuccess">Success!</span>
            <script> $("#postLoading").css("visibility", "hidden"); </script>
            <script> $("#postError").css("visibility", "hidden"); </script>
            <script> $("#postSuccess").css("visibility", "hidden"); </script>
            <div id="feeds"> </div>                              
        </div>
    </div>          
    <script id="jobs_t" type="text/x-handlebars-template">
      <div class="row">
        <div class="large-12 columns" id="catties">
          <label>Categories</label>
          {{#cats}}          
          <span><input id="{{id}}" type="checkbox"><label for="{{id}}">{{name}}</label></input></span>
          {{/cats}}          
        </div>
      </div>            
    </script>                                
  <script src="/js/foundation.min.js"></script>
  
  
  
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  -->
  
    <script>
        $(document).foundation();
    </script>
    <script>
        $( document ).ready(function() {   
            $.getJSON('/allcats', function(data) {                
                  var source = $('#jobs_t').html()                
                  var template = Handlebars.compile(source)
                  $('#cats').html(template({cats: data.result.categories}))
                  $('#savebtn').click(function(ev) {                      
                      ev.preventDefault();                      
                      $('#savebtn').css('visibility', 'hidden')
                      $("#postLoading").css("visibility", "visible");
                      var matches = [];
                      $(":checked").each(function() {
                          matches.push(this.id);
                      });
                      var request = {
                        'name': $('#name').val(),
                        'blog_url': $('#blog_url').val(),
                        'feed_url': $('#feed_url').val(),
                        'categories': matches              
                      }         
                      
                                            
                      $.post( "/feed", request, function( data ) {
                        console.log(data)
                        if(typeof(data.error) !== 'undefined') {
                          $("#postLoading").css("visibility", "hidden");
                          $("#postError").css("visibility", "visible")                      
                        }
                        else {                          
                          $("#postLoading").css("visibility", "hidden");
                          $("#postSuccess").css("visibility", "visible")
                        }

                        
                      });
                  })
                })                                   
                  
                    
        })
    </script>
</body>
</html>
